@model EntityLayer.Concrete.User
@{
    ViewData["Title"] = "Hakkımda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    @using (Html.BeginForm("Hakkımda", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.UserID)
        <br />
        <label>İsim</label>
        @Html.TextBoxFor(x=>x.UserName, new {@class = "form-control"})
        <br />
        <label>Soyisim</label>
        @Html.TextBoxFor(x=>x.UserSurname, new {@class = "form-control"})
        <br />
        <label>Mail</label>
        @Html.TextBoxFor(x=>x.UserMail, new {@class = "form-control"})
        <br />
        <label>Adres</label>
        @Html.TextBoxFor(x=>x.UserAdress, new {@class = "form-control"})
        <br />
        <label>Görsel URL</label>
        @Html.TextBoxFor(x=>x.UserImageUrl, new {@class = "form-control"})
        <br />
        <label>Açıklama</label>
        @Html.TextAreaFor(x=>x.UserDescription,10,2, new {@class = "form-control"})
        <br />
        <button class="btn btn-success">Güncelle</button>
    }
</div>


